<h1 style='color:cadetblue;padding:20px;'>
    Comming Soon!
</h1>
<ul style="color:coral;padding:20px">
    <li>Adding Friends</li>
    <li>Chating with Friends directly</li>
    <li>Dynamic search of questions </li>
    <li>Notifications</li>
    <li>And many more  ..... </li>
</ul>