<head><style>
    #background{
        background-color:grey;
        padding:30px
    }
    #screen{
        background-color: grey;  
        padding:30px
    }
    p{
        color:white;
    }
    </style></head>
<body>
    <div id='background'>
        <div id='screen'>
            <h1 style='color:rgb(255, 0, 76) ;display:inline'>KEEP</h1> <H1 style='color:rgb(25, 216, 34);display:inline'>Yelling</H1><h1 style='color:orange;display:inline'>!</h1>
            <br>
            <p style="color:orange;display:inline">Dear <%=post.user.name%>!</p>
            <p>Your post <%=post.content%> received a new Comment</p>
            <p>Your's lovingly</p>
            <p>CEO <span style='color:orange'>KEEPYELLING.COM</span></p>
        </div>
    </div>
</body>