<head><style>
    #background{
        background-color:grey;
        padding:30px
    }
    #screen{
        background-color: grey;  
        padding:30px
    }
    p{
        color:white;
    }
    .ending{
        color:rgb(82, 137, 255);
    }
    </style></head>
<body>
    <div id='background'>
        <div id='screen'>
            <h1 style='color:rgb(255, 0, 76) ;display:inline'>KEEP</h1> <H1 style='color:rgb(25, 216, 34);display:inline'>Yelling</H1><h1 style='color:orange;display:inline'>!</h1>
            <br>
            <p style="color:orange;display:inline">Dear <%=post.user.name%>!</p>
            <p><strong>Your Question : <%=post.content%> </strong><br>was created in KeepYelling!.com</p>
            <P class='ending'>From</P>
            <p class='ending'>Your's lovingly</p>
            <p class='ending'>CEO Bitch</p>
            <p><span style='color:orange'>Uday</span></p>
        </div>
    </div>
</body>